*{
  box-sizing: border-box;
}

/* SELECTORS */
html{
  height:100vh;
  background: linear-gradient(#FEFBE7, #F9EBC8);
  background-color: #F9EBC8;
  background-repeat: no-repeat;
}

body{
  font-family: 'Aboreto', cursive;
  text-shadow: 0px 0px 0.5px #000000;}

ul{
  padding: 0;
  margin-left: 10px;
}

ol li{
  margin-bottom: 20px;
}

h1{
  margin-bottom: 50px;
}

h1,
h2,
h3{
  text-shadow: 0px 0px 2.5px rgba(0,0,0);
  color: ghostwhite;
}

a{
  color: #de9c29;
}

/* CLASS SELECTORS */
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container div{
  width: 50vw;
}

.container h1, .container .food-img{
  text-align: center;
}

.food-img{
  display: block;
  width: 22rem;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px #000000;
  position: relative;
  bottom: 3rem;
}

.item-group{
  display: flex;
  gap: 75px;
  align-items: center;

}

.item{
  max-width: 25rem;
  line-height: 1.75rem;
}

.item:last-child{
  max-width: 50vw;
}

/* ID SELECTORS */
#logo{
  display: block;
  height: auto;
  width:300px;
  margin: 20px auto;
}